.containerBlack {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 10px;
  left: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  white-space: nowrap;
  font-family: "Oswald",
    "sans-serif";
  z-index: 1000;
  width: 7.2rem;
  overflow: hidden;
  transition: width 0.1s;
}

.containerBlack:hover {
  width: 30rem;
}


.text {
  overflow: none;
  font-size: 150%;
}

.email,
.social {
  font-size: 120%;
  margin-left: 1rem;
}