.containerBlack {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 10px;
  left: 10px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 12px;
  line-height: 1.5rem;
  background-color: black;
  color: white;
  white-space: nowrap;
  font-family: "Oswald",
    "sans-serif";
  z-index: 1000;
  width: 7.2rem;
  overflow: hidden;
  transition: width 0.2s;
}

.containerBlack:hover {
  width: 23rem;
}


.text {
  overflow: none;
  font-size: 150%;
  line-height: 1.4rem;
}

.email,
.social {
  font-size: 120%;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  line-height: 1rem;
}

.social {
  margin-right: 0.5rem;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .containerBlack {
    bottom: -3.5rem;
    left: 0px;
    border-radius: 0px;
    font-size: 0.75rem;
    width: 100%;
    flex-flow: column;
    align-items: center;
    transition: bottom 0.1s ease;
  }

  .containerBlack:active {
    bottom: 0px;
    width: 100%;
  }

  .email,
  .social {
    margin-left: 0px;
  }

  .text {
    margin-bottom: 1rem;
  }

}