.container {
    height: 100%;
    width: 100%;
    position: relative;
    padding-bottom: 100px;
}

.projectInfoContainer {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.projectHeader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: "Fredoka One", "sans-serif";
    z-index: 0;
    font-size: 20vw;
    user-select: none;
}

.projectInfo {
    color: #252525;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.projectSubcat {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    column-gap: 2rem;
    width: 100%;
    justify-content: space-around;
    font-size: 1.2vw;
    font-family: "Roboto Mono", "sans-serif";
}

.header,
.subHeader {
    transition: opacity 1s ease;
    font-family: "Oswald", "sans-serif";
    font-weight: 700;
    font-size: 6rem;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 1rem;
    float: left;
}

.subcatHeader {
    color: #fd3132;
    margin-top: 2rem;
    font-weight: bold;
}

.rts {
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 2;
}

.rtsImgContainer {
    width: 80%;
}

.discord {
    text-align: left;
    grid-column-start: 2;
    grid-column-end: 3;
}

.discImgContainer {
    width: 80%;
}

.book {
    text-align: left;
    grid-column-start: 3;
    grid-column-end: 4;
}

@media only screen and (max-width: 800px) {
    .header {
        font-size: 4rem;
        float: unset;
        margin-bottom: 0px;
    }

    .subHeader {
        font-size: 3rem;
        margin-bottom: 0px;
        margin-top: 3rem;
        float: unset;
    }

    .projectHeader {
        transform: rotate(90deg);
        left: -80%;
        top: 38%;
        font-size: 9rem;
    }

    .projectSubcat {
        display: flex;
        width: 100%;
        flex-flow: column;
        font-size: 0.9rem;
        align-items: center;
    }

    .projectInfoContainer {
        justify-content: flex-start;
    }

    .rtsImgContainer,
    .discImgContainer {
        width: 100%;
    }

    .discImgContainer {
        margin-top: 3rem;
    }

    .discord {
        text-align: right;
    }

    .rts,
    .discord,
    .book {
        width: 80%;
    }
}