.edge {
    width: 2000px;
    height: 12px;
    background: white;
    position: absolute;
    box-shadow: 0px 0px 3px 3px rgba(255, 255, 255, 0.5);
    top: 50%;
    left: 30px;
}

@media only screen and (max-width: 800px) {
    .edge {
        position: relative;
        width: 12px;
        height: 1000px;
        left: unset;
        top: 90px;

    }
}