.cardDown {
    max-width: 300px;
    transform: translateX(-50%);
    margin-top: 5rem;
}

.cardUp {
    max-width: 300px;
    transform: translateX(-50%);
    margin-bottom: 5rem;
}

.media {
    height: 160px;
    padding-top: "56.25%";
}