.cardContainer {
    position: absolute;
    text-align: center;
    width: 300px;
    z-index: 1;
}

.cardDown {
    max-width: 100%;
    transform: translateX(-50%);
    margin-top: 5rem;
}

.cardUp {
    max-width: 100%;
    transform: translateX(-50%);
    margin-bottom: 5rem;
}

.media {
    width: auto;
    height: 120px;
    max-height: 160px;
}

.tagContainer {
    border-top: 2px solid lightgrey;
    padding: 8px;
}