.container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  justify-content: center;
  align-items: center;
  /* Disable pointer events so that we can click out of the modal thanks to handleClickOutside */
  pointer-events: none;
}

.cardContainer {
  width: 80%;
}

.media {
  width: auto;
  height: 160px;
  max-height: 160px;
}
