.cardContainer {
    position: relative;
    text-align: left;
    width: 300px;
    z-index: 1;
}

.cardDown,
.cardUp {
    position: absolute;
    max-width: 100%;
    transform: translateX(-50%);
}

.cardUp {
    bottom: 0px;
    margin-bottom: 4rem;
}

.cardDown {
    margin-top: 4rem;
}

.media {
    width: auto;
    height: 8vh;
    max-height: 120px;
}

.tagContainer {
    border-top: 2px solid lightgrey;
    padding: 8px;
}

.gradient {
    background: linear-gradient(to right, rgba(0, 220, 255, 1) 0%, rgba(0, 255, 201, 1) 100%);
    height: 4px;
    width: 100%;
}