.edge {
    width: 100%;
    height: 12px;
    background:black;
}

@media only screen and (max-width: 800px) {
    .edge {
        position: relative;
        width: 12px;
        height: 1000px;
        left: unset;
        top: 90px;

    }
}